body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: right;
}
li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  width: 679px;
  margin: 45px auto;
}
.outer-box {
  height: 528px;
  border: 3px solid #ff3266;
  background-color: #fd6c90;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}
.middle-box {
  width: 651px;
  height: 501px;
  border: 3px solid #dbd109;
  background-color: #f5f1a8;
  border-radius: 20px;
}
.inner-box {
  margin: 10px;
  height: 474px;
  border: 3px solid #5a6aca;
  padding: 5px;
  background-color: white;
  border-radius: 20px;
}
.city-center {
  position: relative;
  top: 30px;
}
.row {
  color: #1ab2a8;
  text-align: center;
}
