.Current {
  margin: 5px 0 5 5px;
}
.descriptors {
  line-height: 18px;
}
.Current strong {
  color: #ff3266;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: -10px;
}
.Current .units {
  position: relative;
  font-size: 22px;
  top: -30px;
}
.Current canvas {
  margin: 5px 10px 0 0;
}

.your-city {
  text-align: center;
  font-size: 50px;
  color: #ff3266;
}

.city-center {
  position: relative;
  top: 30px;
}
