.Current {
  margin: 5px 0 5 5px;
}
.descriptors {
  line-height: 18px;
  position: relative;
  top: -15px;
  float: left;
}
.Current .temperature {
  color: #67a84a;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  position: relative;
  top: -10px;
  float: left;
}
.Current .units {
  position: relative;
  font-size: 22px;
  float: left;
}

.Current canvas {
  float: right;
}

.your-city {
  text-align: center;
  font-size: 50px;
  color: #593f75;
}
