.Search {
  margin-top: 30px;
}
.Search .btn {
  background-color: #d487e2;
  color: #3f8154;
  border-radius: 22px;
  transition: all 200ms ease-in-out;
  border: 1.5px solid #51a86c;
}
.Search .btn:hover {
  color: white;
  background-color: #51a86c;
}
.Search form {
  margin-top: 8px;
}
