.Search {
  margin-top: 10px;
}
.btn {
  background-color: #d487e2;
  color: #570964;
  border-radius: 22px;
  transition: all 200ms ease-in-out;
  border: 1.5px solid #ab47bd;
}
.btn:hover {
  color: white;
  background-color: #ab47bd;
}
.currentButton {
  background-color: #5a6aca;
  color: white;
  border-radius: 22px;
  transition: all 200ms ease-in-out;
  border: 1.5px solid #223185;
  display: block;
  margin: 0 auto;
  margin-top: 4px;
}
.currentButton:hover {
  color: #223185;
  background-color: white;
}
.date-time {
  text-align: center;
  color: #1ab2a8;
}
